.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.top_container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.author {
  font-weight: bold;
  font-size: 18px;
}
.date {
  color: rgb(161, 161, 161);
}
.delete_btn {
  color: rgb(161, 161, 161);
  text-decoration: underline;
  cursor: pointer;
}
